<p id="notice"><%= notice %></p>

<%= form_for(@questions_and_anwer) do |f| %>
    <%= raw @questions_and_anwer.question %>
    <%=  f.label @questions_and_anwer.answer %><br><br>
<% end %>



<%= link_to 'Edit', edit_questions_and_anwer_path(@questions_and_anwer) %> |
<%= link_to 'Back', questions_and_anwers_path %>
