<%= form_for(@questionnaire) do |f| %>
  <% if @questionnaire.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@questionnaire.errors.count, "error") %> prohibited this questionnaire from being saved:</h2>

      <ul>
      <% @questionnaire.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :answer %><br />
    <%= f.text_field :answer %>
  </div>
  <div class="field">
    <%= f.label :eval %><br />
    <%= f.text_field :eval %>
  </div>
  <div class="field">
    <%= f.label :idquestion %><br />
    <%= f.number_field :idquestion %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
