%h1 Listing Questionnaires

%table.table
  %thead
    %tr
      %th ID
      %th Answeruser
      %th Eval
      %th Idquestion
      %th Questionnaires Number
      %th
      %th
      %th

  %tbody
    - @questionnaires.each do |questionnaire|
      %tr
        %td= questionnaire.id
        %td= questionnaire.answerUser
        %td= questionnaire.eval
        %td= questionnaire.idquestion
        %td= questionnaire.questionnairesnumber
        %td= link_to 'Show', questionnaire
        %td= link_to 'Edit', edit_questionnaire_path(questionnaire)
        %td= link_to 'Destroy', questionnaire, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'Resolve New Questionnaire', new_questionnaire_path, class:'btn btn-primary'
